<link rel="stylesheet" href="/styles/overview.css">
<%- include('partials/sidebar') %>

<main class="content">
    <div class="home-page-description">
        <h1>Welcome to Your To-Do List!</h1>
        <p class="intro-text">
            Organize your tasks, set priorities, and manage your time effortlessly.
        </p>
    
        <h2>Features at a Glance:</h2>
        <ul class="features-list">
            <li><i class="fas fa-tachometer-alt"></i> <span class="feature-title">Dashboard Overview:</span> Get a quick snapshot of all your tasks, including the most important and urgent ones.</li>
            <li><i class="fas fa-calendar-alt"></i> <span class="feature-title">Upcoming Tasks:</span> Keep track of what's coming up next with tasks that are just around the corner.</li>
            <li><i class="fas fa-exclamation-circle"></i> <span class="feature-title">Overdue Tasks:</span> Easily spot and handle tasks that are past their due dates.</li>
            <li><i class="fas fa-check-circle"></i> <span class="feature-title">Completed Tasks:</span> Track all the tasks you've completed.</li>
            <li><i class="fas fa-tasks"></i> <span class="feature-title">All Tasks View:</span> Access and manage all your tasks in one place.</li>
            <li><i class="fas fa-list-alt"></i> <span class="feature-title">Custom Lists:</span> Organize your tasks into custom categories like Work, Personal, or any other list you create.</li>
            <li><i class="fas fa-star"></i> <span class="feature-title">Priority Levels:</span> Assign priorities to your tasks: Low, Mid, and High.</li>
            <li><i class="fas fa-plus-circle"></i> <span class="feature-title">Add New Tasks and Lists:</span> Easily add tasks and create new lists to stay organized.</li>
        </ul>
    </div>
</main> 

<%- include('partials/sidebar2') %>