<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/styles/registerStyles.css">
</head>
<body>
    <div class="register-form-class">
        <div class="register-form-child">
            <h1 class="heading">Register</h1>
            <form action="/register" method="post" class="register-form">
                <label for="email"><b>Email</b></label>
                <input type="email" id="eamil" name="email" placeholder="Enter Email" required>

                <label for="username"><b>Username</b></label>
                <input type="text" id="username" name="username" placeholder="Enter Username" required>
                
                <label for="password"><b>Password</b></label>
                <input type="password" id="password" name="password" placeholder="Enter Password" required>
                
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
</body>
</html>