.todo-add-container {
    z-index: 999;
    position: absolute; 
    top: 50%;           
    left: 50%;          
    transform: translate(-50%, -50%); 
    display: block;
    background-color: 	#000000;
    color: white;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(254, 254, 254, 0.1);
    width: 300px;
  }
  
  #add-container {
    display: none; 
  }

  .todo-add-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .todo-add-container .add-form-group {
    margin-bottom: 15px;
  }
  
  .todo-add-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .todo-add-container input[type="text"],
  .todo-add-container textarea,
  .todo-add-container input[type="date"],
  .todo-add-container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .todo-add-container textarea {
    resize: none;
  }
  
  .todo-add-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ffe100;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
  }
  
  .todo-add-container button[type="submit"]:hover {
    background-color: #9d8c09;
  }
  

  /*background blur effect using a diff div*/
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(92, 91, 91, 0.7); 
    backdrop-filter: blur(5px);
    z-index: 2;
    display: none;
  }

  #overlay::after {
    content: '✖'; 
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    z-index: 3; 
  }



  /*styles for adding new list*/

#list-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    z-index: 999; 
    display: none; 
  }



#list-container .close-btn {
    position: absolute; 
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #333;
    z-index: 5; 
  }
  
#list-container .close-btn:hover {
    color: #ff0000; 
  }